.colorBtn{
  background-color: #00A2CA;
}

/* dark mode start */
[data-bs-theme="dark"] {
  --bs-body-bg: #0d1b2a;
  --bs-body-color: #e0e1dd;
  --bs-primary: #00a2ca;
  --bs-secondary: #778da9;
  --bs-success: #4caf50;
  --bs-danger: #ff4d4d;
  --bs-warning: #ffc107;
  --bs-info: #17a2b8;

  --bs-border-color: #415a77;
  --bs-card-bg: #1b263b;
  --bs-navbar-bg: #1e2a3b;
}

[data-bs-theme="dark"] header {
  background: linear-gradient(to right, #0d1b2a 50%, #183153 50%);
}


[data-bs-theme="dark"] .navbar {
  background-color: #0d1b2a !important; 
}

[data-bs-theme="dark"] .navbar .nav-link,
[data-bs-theme="dark"] .navbar .navbar-brand {
  color: #e0e1dd !important;  
}

[data-bs-theme="dark"] .navbar .nav-link:hover {
  color: #00a2ca !important;
}


[data-bs-theme="dark"] footer {
  background-color: #0d1b2a;
}
[data-bs-theme="dark"] p {
  color: var(--bs-body-color);
  font-weight: bold;
}