*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --mint-green-color: #00a2ca;
  --teal-gradient: linear-gradient(135deg, #00a2ca);
  --white-color: #fff;
  --th-color: #878a99;
}

/* navbar */
.navbar {
  background: var(--teal-gradient);
  .container {
    .logo {
      img {
        width: 40px;
        height: 40px;
      }
      h3 {
        color: var(--white-color);
        font-weight: bold;
      }
    }
    #navbarTogglerDemo03 {
      ul {
        li {
          a {
            font-size: 1.2rem;
            color: var(--white-color);
            &:hover {
              color: var(--mint-green-color);
            }
          }
        }
      }
    }
    .dark-log {
      i {
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--white-color);
      }
    }
  }
}

/* Table section */

.atten-table {
  border-collapse: collapse;
  th,
  td {
    padding: 24px;
  }

  thead {
    tr {
      th {
        color: var(--th-color);
        font-size: 1.1rem;
      }
    }
  }

  tbody {
    tr {
      td {
        font-size: 1rem;
      }
    }
  }
  .present {
    background-color: rgb(63, 194, 138, 0.1);
    color: #3fc28a;
  }
  .late {
    background-color: rgb(239, 190, 18, 0.1);
    color: #efbe12;
  }
  .absence {
    background-color: rgb(244, 91, 105, 0.1);
    color: #f45b69;
  }
  .True {
    background-color: rgb(63, 194, 138, 0.1);
    color: #3fc28a;
  }
  .False {
    background-color: rgb(244, 91, 105, 0.1);
    color: #f45b69;
  }
}

/* Media Query */
@media all and (max-width: 768px) {
  /* navbar */
  .navbar {
    .container {
      .logo {
        img {
          display: none;
        }
        h3 {
          display: none;
        }
      }
      #navbarTogglerDemo03 {
        ul {
          li {
            text-align: center;
          }
        }
      }
    }
  }
}

/* animation */
.fade {
  animation: fade 3s ease-in-out 1 forwards;
}

/* Animation */
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
